<section
  class="flex flex-col w-screen h-screen justify-center items-center text-center"
>
  <canvas class="game border-2 unblur" id="screen" width="10" height="10"></canvas>
  <ul id="cursor-list" />
</section>